.imagen-fluid{
    height: 200px;
    width: auto;
    max-width: 90%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button:disabled{
    cursor: not-allowed;
}

.icono{
    width: 50px;
    height: auto;
}

.carousel .carousel-indicators li {
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
}

.carousel .carousel-indicators .active {
    background-color: #444;
}

.carousel a span {
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
}

#bgNVIDIA{
    background: url("../images/nvidiaWallpaper-2.png") no-repeat center;
    background-size: cover;
}

#bgAMD{
    background: url("../images/amdWallpaper-1.jpg") no-repeat center;
    background-size: cover;
}